# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Visual Studio / Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww]in32/
[Aa]rm64/
*.sln.docstates
*.user
*.suo
*.userprefs
.vs/

# Windows App SDK
AppPackages/
BundleArtifacts/

# Local files (not for version control)
submit.md
